{% extends './layout.html' %}
{#{% load staticfiles %}#}

<html lang="en">
<head>
{#    <link rel="stylesheet" href="{% static 'static/blog/blog.css' %}">#}
    <style>
        #tblBlog {
            background-color: #00bb00;
        }

        table th {

        }
    </style>
</head>
<body>
</body>
</html>

{% block content %}
    {{ block.super }}
    <table id="tblBlog">
        <th>id</th>
        <th>게시자</th>
        <th>제목</th>
        <th>간략 내용</th>
        <th>작성 일시</th>
        <th>수정 일시</th>
        <th>태그 집합</th>

        {% for post in post_list %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.author }}</td>
            <td>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </td>
            <td>{{ post.short_content }}</td>
            <td>{{ post.created }}</td>
            <td>{{ post.updated_at }}</td>
            <td>{{ post.tagged }}</td>
        </tr>
        {% endfor %}
    </table><br/>
{% endblock %}
